<div class="modal fade" id="modal-help-code-video" tabindex="-1" aria-labelledby="ModalLabelHelpCodeVideo" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="ModalLabelHelpCodeVideo">Où trouver le code de la vidéo ?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h5 class="font-weight-bold text-danger">
					Dans l'url de la vidéo :</h5>
				<hr>
				<h6 class="badge badge-info">Sur YouTube :</h6>
				<img class="img-fluid" src="{{ asset('images/help-code-youtube.png') }}" alt="Comment trouver le code de la video sur YouTube ? Le code dans l'URL après 'v='" title="YouTube"/>
				<hr>
				<h6 class="badge badge-info">Sur Vimeo :</h6><br>
				<img class="img-fluid" src="{{ asset('images/help-code-vimeo.png') }}" alt="Comment trouver le code de la video sur Vimeo ? Dernière partie de l'URL, après le dernier slash '/'" title="Vimeo"/>
				<hr>
				<h6 class="badge badge-info">Sur Dailymotion :</h6>
				<img class="img-fluid" src="{{ asset('images/help-code-dailymotion.png') }}" alt="Comment trouver le code de la video sur Dailymotion ? Dernière partie de l'URL, après le dernier slash '/'" title="Dailymotion"/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>
