{% extends 'base.html.twig' %}

{% block title %}
    SnowTricks Accueil
{% endblock %}

{% block body %}
	<section class="container">
		{% for message in app.flashes('success') %}
			<div class="row justify-content-center">
				<div class="alert alert-primary mt-4 font-weight-bold text-center">
					{{ message }}
				</div>
			</div>
		{% endfor %}
		<div id="home-banner" class="row d-flex">
			<img src="{{ asset('uploads/images/960/default.jpg') }}" class="img-fluid" alt="Image de présentation de Snowtricks"/>
			<h1 class="col-6 col-sm-6 col-xl-8">Site collaboratif pour apprendre des Tricks de snowboard.</h1>
			<div id="tricks-down" class="col-12 text-right icon-fa-arrow-circle-down">
				<a><i class="fas fa-arrow-circle-down"></i></a>
			</div>
		</div>		
		{{ include('fragments/_tricks.html.twig') }}
	</section>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/home.js') }}"></script>
{% endblock %}

