{% extends 'base.html.twig' %}

{% block title %}
    SnowTricks Accueil
{% endblock %}

{% block body %}
	<div id="home-banner" class="container">
		<div class="row d-flex">
			<img src="{{ asset('uploads/images/default2.jpg') }}" class="img-fluid" alt="Image de présentation de Snowtricks"/>
			<h1 class="col-6 col-sm-6">Site collaboratif pour apprendre des Tricks.</h1>
		</div>
		<div class="row">
			<p><a href="{{ path('trick', {uuid: trick.uuid, slug: trick.slug}) }}">{{ trick.name }}</p>
		</div>
	</div>
{% endblock %}
