{% extends 'base.html.twig' %}

{% block title %}
    Liste des tricks
{% endblock %}

{% block body %}
    <section id="tricks-page" class="container-fluid">
        <h1 class="d-flex justify-content-center"> Les Tricks </h2>
        {{ include('home/_tricks.html.twig') }}
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/tricks.js') }}"></script>
	<script src="{{ asset('js/home.js') }}"></script>
{% endblock %}
