{% extends 'base.html.twig' %}

{% block body %}
<section class="container">
    <div class="row">
        <h1 class="col-12 mt-5 h3 text-danger"> Ooups ! Une erreur est survenue</h1>

        <p class="col-12 mt-4">
            <span class="font-weight-bold">Code de l'erreur : </span>{{ status_code }}
        </p>
        <p class="col-12 mt-2">
            <span class="font-weight-bold">Message de l'erreur : </span>{{ status_text }}
        </p>
        <p class="col-12 mt-3">
            <small><a href="{{ path('home') }}">Reour à l'accueil</a></small>
        </p>
    </div>
</section>
{% endblock %}
